.task_bar {
  position: fixed;
  background-color: #bbc3c4;
  bottom: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  box-shadow: 0px -1px 0px #ffffff;
  padding: 2px 0px;
  display: flex;
}