@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: black;
}

.css-1ssrbtg-ScrollBarContainer {
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  margin: 0px -6px;
}

.css-1djfuyp {
  overflow: auto hidden;
  scrollbar-width: none;
}

.css-izvkrl-StyledHorizontalUl {
  list-style: none;
  padding: 0px;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.css-4kpflh-StyledUlParent {
  overflow: scroll;
  scrollbar-width: none;
}

.css-1psiqzq-StyledUl-gapFromBreakPoints-breakPointsToCss {
  /* display: flex;
  position: relative;
  flex-wrap: nowrap;
  overflow: visible;
  gap: 16px; */
}

.css-1uyzw27-StyledContainer-StyledListSection {
  display: block;
  position: relative;
  max-width: 1320px;
}